<h1>Listing greps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Search</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @greps.each do |grep| %>
  <tr>
    <td><%= grep.name %></td>
    <td><%= grep.search %></td>
    <td><%= link_to 'Show', grep %></td>
    <td><%= link_to 'Edit', edit_grep_path(grep) %></td>
    <td><%= link_to 'Destroy', grep, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grep', new_grep_path %>
